<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>Servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MembersList</servlet-name>
        <servlet-class>Servlets.MembersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>Servlets.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>Servlets.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCheck</servlet-name>
        <servlet-class>Servlets.UserCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostsInterface</servlet-name>
        <servlet-class>Servlets.PostsInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>Servlets.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePost</servlet-name>
        <servlet-class>Servlets.CreatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPost</servlet-name>
        <servlet-class>Servlets.ViewPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostInterface</servlet-name>
        <servlet-class>Servlets.DeletePostInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>Servlets.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePost</servlet-name>
        <servlet-class>Servlets.UpdatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Servlets.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatePost</servlet-name>
        <servlet-class>Servlets.RatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTrack</servlet-name>
        <servlet-class>Servlets.SessionTrack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRate</servlet-name>
        <servlet-class>Servlets.ChangeRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>Servlets.AddComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MembersList</servlet-name>
        <url-pattern>/MembersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCheck</servlet-name>
        <url-pattern>/UserCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostsInterface</servlet-name>
        <url-pattern>/PostsInterface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePost</servlet-name>
        <url-pattern>/CreatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPost</servlet-name>
        <url-pattern>/ViewPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostInterface</servlet-name>
        <url-pattern>/DeletePostInterface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePost</servlet-name>
        <url-pattern>/UpdatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatePost</servlet-name>
        <url-pattern>/RatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTrack</servlet-name>
        <url-pattern>/SessionTrack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRate</servlet-name>
        <url-pattern>/ChangeRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
